@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: "Neue Haas Grotesk Display Pro", sans-serif;
}

* {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

body {
  background: #080808;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  background-color: #080808;
  overflow-x: hidden;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #080808;
  position: relative;
}
